body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container-site {
    width: 1200px;
    height: auto;
    border: 5px dotted darksalmon;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.container-titulo {
    width: 500px;
    height: auto;
    padding: 5px;
    border: 3px dotted lightgrey;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: lightcoral;
}

.letra-inicial {
    color: navy;
}

.container-menu {
    width: 1000px;
    padding: 12px;
    border: 1px solid lightcoral;
    border-radius: 10px;
    margin-left: auto ;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: left;
    background-color: whitesmoke;
}

.container-menu a:hover{
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    color: white;
    font-size: 24px;
    text-decoration: underline;
    background-color: lightsalmon;
}


.pagina-atual {
    color: white;
    padding: 6px;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    font-size: 24px;
    background-color: salmon;
}

.texto {
    text-indent: 25px;
}

.rodape {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    width: 1000px;
    height: auto;
    padding: 12px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: darksalmon;
}

.container-rodape {
    margin-left: auto;
    margin-right: auto;
}

.texto-rodape {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.img-rodape {
    width: 20px;
    height: 20px;
}